<nav class="nav justify-content-center mt-5 border">
  <a class="nav-link active" href="#">Home</a>
  <a class="nav-link" href="#" data-toggle="modal" data-target="#form_estabelecimento">Estabelecimento</a>
  <a class="nav-link disabled" href="#">Contas Bancárias</a>
  <a class="nav-link disabled" href="#">Transferências</a>
  <a class="nav-link disabled" href="#">Clientes</a>
  <a class="nav-link disabled" href="#">Vendas</a>
  <a class="nav-link disabled" href="#">Planos</a>
  <a class="nav-link disabled" href="#">Assinaturas</a>
  <a class="nav-link disabled" href="#">Status</a>
</nav>