<!-- Modal -->
<div class="modal fade" id="form_estabelecimento" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title">Estabelecimendo - Cadastro</h5>
      </div>
      <div class="modal-body">


        <form action="{{ url_for('cadastro')}}" method="POST">

          <!-- Nome estabelecimento -->
          <div class="form-group">
            <label for="nome_titular">Nome do empreendedor</label>
            <input type="text" id="nome_titular" name="nome_titular" class="form-control"
              placeholder="Digite o nome do dono do estabelecimento" aria-describedby="helpId">
          </div>

          <!-- Nome fantasia -->
          <div class="form-group">
            <label for="nome_fantasia">Nome fantasia</label>
            <input type="text" id="nome_fantasia" name="nome_estabelecimento" class="form-control"
              placeholder="Digite o nome fantasia do estabelecimento" aria-describedby="helpId">
          </div>

          <!-- E-mail -->
          <div class="form-group">
            <label for="email_estabelecimento">E-mail</label>
            <input type="text" id="email_estabelecimento" name="email_estabelecimento" class="form-control"
              placeholder="Digite o e-mail para contato" aria-describedby="helpId">
          </div>

          <!-- Celular -->
          <div class="form-group">
            <label for="contato_estabelecimento">Número para contato</label>
            <input type="text" id="contato_estabelecimento" name="contato_estabelecimento" class="form-control"
              placeholder="Digite o número de telefone/celular para contato" aria-describedby="helpId">
          </div>

          <!-- Data nascimento -->
          <div class="form-group">
            <label for="data_nascimento">Data de nascimento</label>
            <input type="text" id="data_nascimento" name="data_nascimento" class="form-control"
              placeholder="Digite o data de nascimento" aria-describedby="helpId">
          </div>

          <!-- CPF -->
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="Digite o cpf para cadastro"
              aria-describedby="helpId">
          </div>

          <!-- Categoria empreendedor -->
          <div class="form-group">
            <label for="status_empreendedor">Tipo de estabelecimento</label>
            <select class="form-control" name="status_empreendedor" id="status_empreendedor">
              <option value="1">1 - Pessoa física</option>
              <option value="2">2 - Pessoa jurídica</option>
            </select>
          </div>

          <!-- Categoria estabelecimento -->
          <div class="form-group">
            <label for="categoria">Categoria de estabelecimento</label>
            <select class="form-control" name="categoria" id="categoria">
              <option value="1">1 - Atacado</option>
              <option value="2">2 - Casas de Carne / Peixaria</option>
              <option value="3">3 - Docerias / Confeitarias / Rotisserie</option>
              <option value="4">4 - Feira livre</option>
              <option value="5">5 - Hortifruit / Granjeiros</option>
              <option value="6">6 - Lojas de Conveniência</option>
              <option value="7">7 - Mercearia e Bebidas</option>
              <option value="8">8 - Alimentação em geral</option>
              <option value="9">9 - Bijouterias</option>
            </select>
          </div>

          <!-- Logradouro -->
          <div class="form-group">
            <span class="mt-3" style="margin-left: 14.7vw;">Endereço</span>
            <br />
            <span class="my-2">Logradouro e número</span>
            <div class="input-group">
              <input type="text" name="logradouro_endereco" placeholder="Digite o lograouro" aria-label="Logradouro"
                class="form-control w-auto">
              <input type="text" name="logradouro_numero" placeholder="Digite o número" aria-label="numero"
                class="form-control">
            </div>
          </div>

          <!-- CEP -->
          <div class="form-group">
            <label for="cep">CEP</label>
            <input type="text" name="cep" id="cep" placeholder="Digite o cep" class="form-control">
          </div>

          <!-- Cidade/Estado -->
          <div class="form-group">
            <label for="regiao">Cidade/Estado</label>
            <select class="form-control" name="regiao" id="regiao">
              <option value="São Paulo-SP">São Paulo - SP </option>
              <option value="Rio de Janeiro-RJ">Rio de Janeiro - RJ </option>
              <option value="Salvador-BA">Salvador - BA </option>
              <option value="Brasília-DF">Brasília - DF </option>
              <option value="Fortaleza-CE">Fortaleza - CE </option>
              <option value="Belo Horizonte-MG">Belo Horizonte - MG </option>
              <option value="Manaus-AM">Manaus - AM </option>
              <option value="Curitiba-PR">Curitiba - PR </option>
              <option value="Recife-PE">Recife - PE </option>
              <option value="Porto Alegre-RS">Porto Alegre - RS </option>
              <option value="Belém-PA">Belém - PA </option>
              <option value="Goiânia-GO">Goiânia - GO </option>
              <option value="Guarulhos-SP">Guarulhos - SP </option>
              <option value="Campinas-SP">Campinas - SP </option>
              <option value="São Luís-MA">São Luís - MA </option>
              <option value="São Gonçalo-RJ">São Gonçalo - RJ </option>
              <option value="Maceió-AL">Maceió - AL </option>
              <option value="Duque de Caxias-RJ">Duque de Caxias - RJ </option>
              <option value="Natal-RN">Natal - RN </option>
              <option value="Teresina-PI">Teresina - PI </option>
              <option value="Campo Grande-MS">Campo Grande - MS </option>
              <option value="São Bernardo do Campo-SP">São Bernardo do Campo - SP </option>
              <option value="Nova Iguaçu-RJ">Nova Iguaçu - RJ </option>
              <option value="João Pessoa-PB">João Pessoa - PB </option>
              <option value="Santo André-SP">Santo André - SP </option>
              <option value="Osasco-SP">Osasco - SP </option>
              <option value="Jaboatão dos Guararapes-PE">Jaboatão dos Guararapes - PE </option>
              <option value="São José dos Campos-SP">São José dos Campos - SP </option>
              <option value="Ribeirão Preto-SP">Ribeirão Preto - SP </option>
              <option value="Uberlândia-MG">Uberlândia - MG </option>
            </select>
          </div>

          <!-- Complemento -->
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input type="text" name="complemento" id="complemento" placeholder="Complemento" class="form-control">
          </div>

          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
      </div>
    </div>
  </div>
</div>