

    {% include 'cabecalho/topo.html' %}
    {% include 'cabecalho/navs.html' %}
    {% include 'modals/forms.html' %}
   

    {% if message %}
        {% if message[:1] == 'F' %}
        <div class="alert alert-danger text-center" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% elif message[:1] == 'S' %}
        <div class="alert alert-success text-center" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endif %}
        {% elif message[:1] == 'E' %}
        <div class="alert alert-warning text-center" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endif %}
    {% endif %}

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>



</body>

</html>